<ion-header>
  <ion-navbar>
    <ion-title>
      Renta de inmuebles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let casa of casas" col-6>    
        <ion-card>
          <img *ngIf= "casa.hasOwnProperty('pictures')"
          src = "{{casa.pictures[0].url}}">

          <h2 *ngIf= "casa.hasOwnProperty('price')"> Precio: {{casa.price.formattedAmount}}</h2>
          <h2 *ngIf= "casa.hasOwnProperty('geo')"> Ubicacion: {{casa.geo.displayName}} , {{casa.geo.name}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
